<div class="login-box">
  <h2>Add New Student</h2>
  <form action="/students/new" method="post">
    <div class="user-box">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Student Name"
        required
      />
    </div>
    <div class="user-box">
      <input
        type="number"
        id="number"
        name="number"
        placeholder="Number"
        required
      />
    </div>
    <button>Save</button>
  </form>
</div>
