<div class="login-box">
  <h2>Add New Product</h2>
  <form action="/products/new" method="post">
    <div class="user-box">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Product Name"
        required
      />
    </div>
    <div class="user-box">
      <input
        type="text"
        id="category"
        name="category"
        placeholder="Category"
        required
      />
    </div>
    <button>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Save
    </button>
  </form>
</div>
